# Composer files
composer.phar
vendor/*
vendor
composer.lock
node_modules
node_modules/*
# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation
