{% spaceless %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
    {% spaceless %}
        {% include 'head/head.twig' %}
    {% endspaceless %}
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
{% endspaceless %}
