<?php
$dbParams = array(
    'database'  => 'proyecto',
    'username'  => 'root',
    'password'  => 'password',
    'hostname'  => '127.0.0.1'
);
return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' =>'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host'     => $dbParams['hostname'],
                    'port'     => '3306',
                    'user'     => $dbParams['username'],
                    'password' => $dbParams['password'],
                    'dbname'   => $dbParams['database'],
                    'charset' => 'utf8', 
                    'driverOptions' => array(1002=>'SET NAMES utf8')
                )
            )
        )
    ),
    'db' => array(
        'driver'           => 'Pdo',
        'username'         => $dbParams['username'],
        'password'         => $dbParams['password'],
        'dsn'              => 'mysql:dbname='.$dbParams['database'].';host='.$dbParams['hostname'],
        'driver_options' => array(
            PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\''
        )
    )
);
